.button {
  display: flex;
  gap: 8px;
  align-items: center;
  justify-content: center;
  min-width: 96px;
  max-width: 112px;
  padding: 4px;
  border-radius: 8px;
  border-color: #408989;
  background-color: #6ee5e5;
  font-family: 'Hi Melody', serif;
  font-size: 24px;
}

.button h6 {
  text-align: center;
  line-height: 16px;
  font-size: 16px;
  color: black;
}

.button:hover {
  cursor: pointer;
  opacity: 80%;
}

.container {
  display: flex;
  justify-content: center;
  justify-items: center;
}
