.wrapper {
  width: 64px;
}

.input {
  padding: 6px;

  text-align: center;

  border-radius: 6px;
  border: 2px solid rgba(253, 190, 190, 0.722);
  background-color: #ffffff;
  box-shadow: 2px 2px 2px #828282;
}

.input:hover {
  cursor: pointer;
  opacity: 10%;
}

.listWrapper {
  position: absolute;
  width: inherit;
  border-radius: 0 0 6px 6px;
  overflow: hidden;

  z-index: 1000;
}

.list {
  max-height: 164px;
  width: inherit;

  text-align: center;

  overflow-y: scroll;
  scrollbar-color: pink white;

  scroll-behavior: auto;

  background-color: white;
}

.listItem {
  padding: 2px;
}

.selectedItem {
  background-color: pink;
}

.listItem:hover {
  background-color: pink;
}
