.main {
  display: flex;
  flex-direction: column;

  gap: 8px;
  border-radius: 8px;

  align-items: center;
  justify-content: space-around;
  text-align: center;
}

@media (max-width: 600px) {
  .icon {
    height: 64px;
    width: 64px;
  }
}
