.main {
  display: flex;
  flex-direction: column;

  gap: 8px;
  border-radius: 8px;

  align-items: center;
  justify-content: space-around;
  text-align: center;
}

.icon {
  padding: 24px;
  height: 200x;
  width: 200px;
}

@media (max-width: 600px) {
  .icon {
    padding: 8px;
    height: 96px;
    width: 96px;
  }
}
