.container {
  display: flex;
  justify-content: center;
}

.main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-items: center;
}
