.container {
  display: flex;
  justify-content: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.eggGrid {
  width: fit-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 16px;
  padding: 0;
  text-align: center;
  align-items: center;
  justify-items: center;
}
