.container {
  display: grid;
  gap: 12px;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    gap: 24px;
  }
}

.main {
  display: grid;
  gap: 24px;
}

.header {
  width: 100%;
}

.title {
  font-size: 48px;
  text-align: center;
}
