.container {
  display: grid;
  gap: 12px;

  border: 8px solid salmon;
}

@media (max-width: 600px) {
  .container {
    width: 100%;
    gap: 12px;
  }
}

.title {
}

.main {
  display: grid;
  gap: 24px;
  /*
  display: flex;
  /* justify-content: space-evenly;
  align-content: space-evenly; */

  /* flex-wrap: wrap;
  gap: 32px; */

  /* border: 2px solid #32a1ce;
  height: 80vh;
  width: 80vw; */
}
